<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{login.title}"></title>
    <!-- custom-theme -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content=""/>
    <!-- //custom-theme -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="/css/component.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="/css/style_grid.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="/css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="/css/font-awesome.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800"
          rel="stylesheet">
</head>
<body>
<div class="wthree_agile_admin_info">
    <div class="clearfix"></div>
    <div class="inner_content">
        <div class="inner_content_w3_agile_info">
            <div class="registration admin_agile">
                <div class="signin-form profile admin">
                    <h2 th:text="#{login.tip}"></h2>
                    <div class="login-form">
                        <form id="loginForm" th:action="@{/user/login}">
                            <input type="text" name="name" th:placeholder="#{login.username}" required="required">
                            <input type="password" name="password" th:placeholder="#{login.password}" required="required">

                            <input type="submit" th:value="#{login.btn}"/>
                            <p style="color: red;" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>
                        </form>
                    </div>
                </div>
                <div class="i18n">
                    <a class="btn btn-sm" th:href="@{/index.html(l='zh_CN')}">中文</a>
                    <a class="btn btn-sm" th:href="@{/index.html(l='en_US')}">English</a>
                </div>
            </div>
        </div>
    </div>
    <script>

        function login(){
            alert("登录");
        }


    </script>
<style>
    .i18n{
        text-align:center;
    }
</style>

    <script type="text/javascript" src="/js/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="/js/jquery.nicescroll.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
</body>
</html>